<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="/layouts/dashboard::layout(~{::section})">

<body>
<section>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">User</h1>
            <a class="btn btn-sm btn-light text-primary" th:href="@{/dashboard/user}">
                <i class="fas fa-list"></i> User List
            </a>
        </div>

        <th:block th:replace="/fragments/dashboard/notifier" />

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">User Add</h6>
            </div>
            <div class="card-body">
                <form th:action="@{/dashboard/user/store}" th:object="${user}" method="POST">
                    <div class="row gx-3 mb-3">
                        <div class="col-md-4 gx-3 mb-3">
                            <label class="mb-1" for="name">Name</label>
                            <input id="name" th:field="*{name}" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" placeholder="Enter name" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                        <div class="col-md-4 gx-3 mb-3">
                            <label class="mb-1" for="username">Username</label>
                            <input id="username" th:field="*{username}" class="form-control" th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}" type="text" placeholder="Enter username" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        </div>
                        <div class="col-md-4 gx-3 mb-3">
                            <label class="mb-1" for="dob">Date of Birth</label>
                            <input id="dob" th:name="dob" class="form-control" th:classappend="${#fields.hasErrors('dob') ? 'is-invalid' : ''}" type="date" placeholder="Enter dob" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></div>
                        </div>
                        <div class="col-md-4 gx-3 mb-3">
                            <label class="mb-1" for="email">E-mail</label>
                            <input id="email" th:field="*{email}" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" type="email" placeholder="Enter email" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="col-md-4 gx-3 mb-3">
                            <label class="mb-1" for="mobile">Mobile</label>
                            <input id="mobile" th:field="*{mobile}" class="form-control" th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' : ''}" type="text" placeholder="Enter mobile" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></div>
                        </div>
                        <div class="col-md-4 gx-3 mb-3">
                            <label class="mb-1" for="address">Address</label>
                            <input id="address" th:field="*{address}" class="form-control" th:classappend="${#fields.hasErrors('address') ? 'is-invalid' : ''}" type="text" placeholder="Enter address" required>
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                        </div>
                        <div class="col-md-6 gx-3">
                            <label class="mb-1" for="selectedSkills">Skills</label>
                            <select id="selectedSkills" name="selectedSkills" class="form-control" multiple="" size="5" aria-label="multiple select">
                                <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
                            </select>
                        </div>
                        <div class="col-md-6 gx-3">
                            <label class="mb-1" for="selectedRoles">Roles</label>
                            <select id="selectedRoles" name="selectedRoles" class="form-control" multiple="" size="5" aria-label="multiple select" required>
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="float-right">
                            <button type="reset" class="btn btn-danger">Reset</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>

</html>