<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="/layouts/dashboard::layout(~{::section})">

<body>
<section>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">User</h1>
            <a class="btn btn-sm btn-light text-primary" th:href="@{/dashboard/user}">
                <i class="fas fa-list"></i> User List
            </a>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">User Show</h6>
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Name</label>
                        <span class="d-block" th:text="${user.name}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Username</label>
                        <span class="d-block" th:text="${user.username}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Date of Birth</label>
                        <span class="d-block" th:text="${user.dob}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">E-mail</label>
                        <span class="d-block" th:text="${user.email}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Mobile</label>
                        <span class="d-block" th:text="${user.mobile}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Address</label>
                        <span class="d-block" th:text="${user.address}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Created At</label>
                        <span class="d-block" th:text="${user.createdAt}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Updated At</label>
                        <span class="d-block" th:text="${user.updatedAt}"></span>
                    </div>
                    <div class="col-md-3 gx-3 mb-3">
                        <label class="mb-1">Skills</label>
                        <span th:each="skill, loop : ${user.skills}" class="d-block" th:text="${loop.index + 1} + '. ' + ${skill.name}"></span>
                    </div>
                    <div class="col-md-9 gx-3 mb-3">
                        <label class="mb-1">Roles</label>
                        <span th:each="role, loop : ${user.roles}" class="d-block" th:text="${loop.index + 1} + '. ' + ${role.name}"></span>
                    </div>
                </div>

                <th:block th:if="${user.userEducations.size() > 0}">
                    <hr>
                    <label>Educational Information</label>
                    <hr>

                    <div th:each="userEducation : ${user.userEducations}">
                        <div class="row gx-3 mb-3">
                            <div class="col-md-12 gx-3 mb-3">
                                <label class="mb-1">Institute</label>
                                <span class="d-block" th:text="${userEducation.institute}"></span>
                            </div>
                            <div class="col-md-3 gx-3 mb-3">
                                <label class="mb-1">Degree</label>
                                <span class="d-block" th:text="${userEducation.degree}"></span>
                            </div>
                            <div class="col-md-3 gx-3 mb-3">
                                <label class="mb-1">Grade</label>
                                <span class="d-block" th:text="${userEducation.grade}"></span>
                            </div>
                            <div class="col-md-3 gx-3 mb-3">
                                <label class="mb-1">Start Date</label>
                                <span class="d-block" th:text="${userEducation.startDate}"></span>
                            </div>
                            <div class="col-md-3 gx-3 mb-3">
                                <label class="mb-1">End Date</label>
                                <span class="d-block" th:text="${userEducation.endDate}"></span>
                            </div>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${user.userExperiences.size() > 0}">
                    <hr>
                    <label>Experience Information</label>
                    <hr>

                    <div th:each="userExperience : ${user.userExperiences}">
                        <div class="row gx-3 mb-3">
                            <div class="col-md-12 gx-3 mb-3">
                                <label class="mb-1">Organization</label>
                                <span class="d-block" th:text="${userExperience.organization}"></span>
                            </div>
                            <div class="col-md-4 gx-3 mb-3">
                                <label class="mb-1">Designation</label>
                                <span class="d-block" th:text="${userExperience.designation}"></span>
                            </div>
                            <div class="col-md-4 gx-3 mb-3">
                                <label class="mb-1">Start Date</label>
                                <span class="d-block" th:text="${userExperience.startDate}"></span>
                            </div>
                            <div class="col-md-4 gx-3 mb-3">
                                <label class="mb-1">End Date</label>
                                <span class="d-block" th:text="${userExperience.endDate}"></span>
                            </div>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${user.userExperiences.size() > 0}">
                    <hr>
                    <label>Awards Information</label>
                    <hr>

                    <div th:each="userAward : ${user.userAwards}">
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6 gx-3 mb-3">
                                <label class="mb-1">Title</label>
                                <span class="d-block" th:text="${userAward.title}"></span>
                            </div>
                            <div class="col-md-6 gx-3 mb-3">
                                <label class="mb-1">Institute</label>
                                <span class="d-block" th:text="${userAward.institute}"></span>
                            </div>
                            <div class="col-md-12 gx-3 mb-3">
                                <label class="mb-1">Details</label>
                                <span class="d-block" th:text="${userAward.details}"></span>
                            </div>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>
    </div>
</section>
</body>

</html>