<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{/dashboard/css/dashboard.min.css}">
    <link rel="stylesheet" th:href="@{/dashboard/vendor/datatables/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/dashboard/css/main.css}">
</head>
<body id="page-top">

<div id="wrapper">
    <th:block th:replace="/fragments/dashboard/sidebar" />

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="/fragments/dashboard/topbar" />

            <th:block th:replace="${content}"></th:block>
        </div>
        <th:block th:replace="/fragments/dashboard/footer" />

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="/fragments/dashboard/logout_modal" />

<script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- custom scripts -->
<script th:src="@{/dashboard/js/dashboard.min.js}"></script>

<script th:src="@{/dashboard/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/dashboard/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- custom scripts -->
<script th:src="@{/dashboard/js/demo/datatables-demo.js}"></script>

</body>
</html>