<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="/layouts/front::layout(~{::section})">
<body>

<section>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title float-start">Skill</h5>
            <a th:href="@{/skill}" class="btn btn-primary btn-sm float-end">Skill List</a>
        </div>
        <div class="card-body">
            <div class="container">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td th:text="${skill.name}"></td>
                    </tr>
                    <tr>
                        <th>Proficiency</th>
                        <td th:text="${skill.proficiency}"></td>
                    </tr>
                    <tr>
                        <th>Created At</th>
                        <td th:text="${skill.createdAt}"></td>
                    </tr>
                    <tr>
                        <th>Updated At</th>
                        <td th:text="${skill.updatedAt}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>