<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="/layouts/dashboard::layout(~{::section})">

<body>
<section>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Language</h1>
            <a class="btn btn-sm btn-light text-primary" th:href="@{/dashboard/language}">
                <i class="fas fa-list"></i> Language List
            </a>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Language Show</h6>
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-4 gx-3 mb-3">
                        <label class="mb-1">Name</label>
                        <span class="d-block" th:text="${language.name}"></span>
                    </div>
                    <div class="col-md-4 gx-3 mb-3">
                        <label class="mb-1">Created At</label>
                        <span class="d-block" th:text="${language.createdAt}"></span>
                    </div>
                    <div class="col-md-4 gx-3 mb-3">
                        <label class="mb-1">Updated At</label>
                        <span class="d-block" th:text="${language.updatedAt}"></span>
                    </div>
                    <div class="col-md-12 gx-3 mb-3">
                        <label class="mb-1">Assigned To</label>
                        <div>
                            <th:block th:if="${language.users.size() > 0}">
                                <span th:each="user, loop : ${language.users}">
                                    <span th:text="${user.name}"></span> <span th:if="${not loop.last}">, </span>
                                </span>
                            </th:block>
                            <th:block th:unless="${language.users.size() > 0}">
                                Not Assigned Yet
                            </th:block>
                        </div>
                    </div>
                    <div class="col-md-12 gx-3 mb-3">
                        <label class="mb-1">Details</label>
                        <span class="d-block" th:text="${language.details}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>