<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Security</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .logout-form {
            background-color: #efefef;
            max-width: 575px;
            margin: 3rem auto;
            padding: 3rem;
        }
        .logout-form h1 {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="logout-form">
        <h1>Bye All !!!!!!!!!!</h1>
        <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>

</body>
</html>